$sidebar-bg-color: #ffffff !default;
$sidebar-color: #000000 !default;
$sidebar-width: 200px !default;
$sidebar-collapsed-width: 70px !default;
$highlight-color: #7e7e7e !default;
$submenu-bg-color: #ffffff !default;
$submenu-bg-color-collapsed: #ffffff !default;
$icon-bg-color: #ffffff !default;
$icon-size: 35px !default;
$breakpoint-xs: 480px !default;
$breakpoint-sm: 576px !default;
$breakpoint-md: 768px !default;
$breakpoint-lg: 992px !default;
$breakpoint-xl: 1200px !default;

@import '~react-pro-sidebar/dist/scss/styles.scss';